<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapDefectDetector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapDefectDetector.Properties.Settings>
            <setting name="Settings_IpAdressCamera" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_IpAdressPr" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_PortPr" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_LastCycleTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_LastDefectSettingsFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_LastRecipeFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_LastPrSettingsFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_LastCameraSettingsFileName" serializeAs="String">
                <value />
            </setting>
        </CapDefectDetector.Properties.Settings>
    </userSettings>
</configuration>