<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KrishkiForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KrishkiForms.Properties.Settings>
            <setting name="OvalityDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InclusionDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PaintDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ObloyDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UnderfillDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BreakerOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="BreakingTime" serializeAs="String">
                <value />
            </setting>
            <setting name="OvalityThreshold" serializeAs="String">
                <value />
            </setting>
            <setting name="InclusionThreshold" serializeAs="String">
                <value />
            </setting>
            <setting name="MinAreaInclusion" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxAreaInclusion" serializeAs="String">
                <value />
            </setting>
            <setting name="MinAreaInpaintDefect" serializeAs="String">
                <value />
            </setting>
            <setting name="MinInpaintWhiteThreshold" serializeAs="String">
                <value />
            </setting>
            <setting name="MinAreaObloy" serializeAs="String">
                <value />
            </setting>
            <setting name="WidthFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="HeightFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="ExposureFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="SaturationFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAdressCamera" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAdressPr" serializeAs="String">
                <value />
            </setting>
            <setting name="PortPr" serializeAs="String">
                <value />
            </setting>
        </KrishkiForms.Properties.Settings>
    </userSettings>
</configuration>