<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapDefectDetector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CapDefectDetector.Properties.Settings>
            <setting name="Settings_OvalityDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_InclusionDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_PaintDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_ObloyDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_UnderfillDefectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_BreakerOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_CameraOffset" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_BreakingTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_OvalityThreshold" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_InclusionThreshold" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_MinAreaInclusion" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_MaxAreaInclusion" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_MinAreaInpaintDefect" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_MinInpaintWhiteThreshold" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_MinAreaObloy" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_WidthFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_HeightFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_ExposureFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_SaturationFrame" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_IpAdressCamera" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_IpAdressPr" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_PortPr" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_LastCycleTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_CoefCapRadiusInclusion" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_СorrugationsCountForUnderFill" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_СoefCapRadiusUnderFill" serializeAs="String">
                <value />
            </setting>
        </CapDefectDetector.Properties.Settings>
    </userSettings>
</configuration>